@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

.point {
    color: orange;
}

main div.start-bsi{
    text-align: center;
  

}
main div.start-bsi h2{
    text-align: center;
    color: orange;
    font-family: 'Work Sans', sans-serif;
    font-size: 12px;
}
main div.start-bsi h3{
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 40px;
    font-weight: bolder;
    margin: 10px;
}
main div.start-bsi h4{
    color: gray;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-weight: normal;
}
main div.guitar-month-bsi{
    font-family: 'Work Sans', sans-serif;
    background-image: url(../bestselling/fon.webp);
    background-size: cover;
    background-position: center;
    min-height: 600px;
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
}
main div.about{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items:flex-start ;
    justify-content: flex-end;
    
}
main div.about h2{
    text-align: left;
    color: orange;
font-size: 12px;
}
main div.about h3{
    text-align: left;
    color: white;
    font-size: 40px;
    font-weight: bolder;
    margin: 10px;
}
main div .about h4{
    color: gray;
    font-size: 18px;
    font-weight: normal;
    
}
main div .yellowguitar{
    display: flex;
width: 50%;
align-items: center;
justify-content: center;


}
h6{
    color:gray;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    text-align: left;
    }
    h5{
        color:black;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    text-align: left;
    }
    main div .drum-corusel-bsi{
        display: flex;
        flex-direction: column;
    
    }
    main div .guitar-corusel-bsi{
        display: flex;
        flex-direction: column;
    
    }
    main div .saxophon-corusel-bsi{
        display: flex;
        flex-direction: column;
    
    }
    main div .tambourine-corusel-bsi{
        display: flex;
        flex-direction: column;
    
    }
    main div .redguitar-corusel-bsi{
        display: flex;
        flex-direction: column;
    
    }
    
    #courusel-bsi{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    