div.start-na{

    text-align: center; 

}


div.start-na p {

text-align: center;
color: #f8b803;

}

div.start-na h1 {
    text-align: center;
    color: black;
    font-family: sans-serif;

}

div.start-na h2 {

    text-align: center;
    color: #242424;
}
 
