@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap');

section.on-sale h2 {
    font-size: 2rem;
    margin: 0;
    padding: 0;
    border: 0;
}

.on-sale {
    font-family: 'Work Sans', sans-serif;
}

.topic {
    color: rgb(248, 184, 3);
    text-transform: uppercase;
    font-size: 0.7rem;
    margin: 0;
    padding: 0;
    border: 0;
}

.ui-color {
    color: rgb(248, 184, 3);
}

.call-to-action {
    font-size: 0.7rem;
}

.divider {
    height: 2px;
    width: 2%;
    background-color: rgb(248, 184, 3);
}  