@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap');

.on-sale-div-float {
    font-family: 'Work Sans', sans-serif;
    margin: auto;
}

.on-sale-main-container {
    max-width: 1200px;
    min-width: 320px;
    max-height: 400px;
    margin: auto;
}

.product-cell1 {
    border: 1px solid rgb(245, 241, 241);
    padding: 10px;
    float: left;
    height: 400px;
    width: 28%;
    margin-right: 2%;
    box-sizing: border-box;
}

.product-cell {
    float: left;
    height: 400px;
    width: 22%;
    margin-right: 2%;
    box-sizing: border-box;
}

.product-cell:last-child {
    margin-right: 0;
}

section.on-sale-div-float div.product-cards img {
    width: 240px;
}

.clearfix {
    clear: left;
    margin: 10em auto 20em;
}

section.on-sale-div-float div.product-cards a.product-name {
    overflow: auto;
    font-weight: bold;
    font-size: 0.9rem;
    color: black;
    text-decoration: none;
}

section.on-sale-div-float div.product-cards a.product-name:hover {
    color: rgb(248, 184, 3);
}

section.on-sale-div-float div.product-cards p.product-price {
    font-weight: bold;
    font-size: 1rem;
    color: rgb(121, 118, 118);
}

.on-sale-add-to-cart {
    width: 100px;
    height: 40px;
    font-size: 0.7rem;
    background: black;
    color: white;
    border-style: hidden;
    border-radius: 5%;
}

.on-sale-add-to-cart:hover {
	background: rgb(248, 184, 3);
	color: black;
}

section.on-sale-div-float h2 {
    font-size: 2rem;
    text-transform: capitalize;
}

.topic {
    color: с;
    text-transform: uppercase;
    font-size: 0.7rem;
    text-align: left;
}

.ui-color {
    color: rgb(248, 184, 3);
}

.call-to-action {
    font-size: 0.7rem;
}

.divider {
    height: 2px;
    width: 21%;
    background-color: rgb(248, 184, 3);
}  

section.on-sale-div-float div.on-sale-countdown div {
    display: inline;
    font-size: 0.7rem;
}

section.on-sale-div-float div.on-sale-countdown {
    text-align: center;
}

.on-sale-countdown-separator {
    border-left: 2px solid rgb(162, 168, 162);
    height: 500px;
    margin: 0px 5px 0px 0px;
}

.on-sale-title-block {
    width: 200px; 
    height: 180px; 
}

