.shop_product {
  width: 90%;
  margin: auto;
}
@media (min-width: 1520px) {
  .shop_product {
    width: 1200px;
    margin: auto;
  }
}
section.shop div.shop_title h2 {
  color: #f8b803;
  font-size: 12px;
  font-family: "Work Sans", sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin: auto;
}
section.shop div.shop_title {
  margin-top: 6em;
  margin-bottom: 40px;
}
section.shop div.shop_title h3 {
  color: #242424;
  font-size: 2.5em;
  font-family: "Work Sans", sans-serif;
  text-transform: capitalize;
  text-align: center;
  font-weight: bold;
  margin: 10px;
}
section.shop div.shop_title h3 span {
  color: #f8b803;
  margin: 0.2em;
}
.hr_line {
  margin: auto;
}

section.shop div.shop_title p {
  color: #777;
  font-size: 18px;
  font-family: "Work Sans", sans-serif;
  text-align: center;
}
div.shop_product div.shop_button_section div button {
  height: 60px;
  border-color: #fff;
  border-style: double;
  background-color: #fff;
  margin-right: 20px;
  margin-bottom: 0px;
  text-decoration: none;
  color: #777;
  font-size: 12px;
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
div.shop_product div.shop_button_section div button:focus {
  border-top-color: #fff;
  border-right-color: #fff;
  border-left-color: #fff;
  border-bottom-color: var(--font_color_yellow);
  border-style: double;
  color: #242424;
}
@media (min-width: 840px) {
  div.shop_product div.shop_button_section div button {
    font-size: 16px;
    text-transform: none;
  }
}
div.shop_product div.shop_button_section {
  display: flex;
  width: 58%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
  margin-right: 0px;
  margin-left: 21%;
  margin-bottom: 20px;
}

.shop_product .exchange {
  display: flex;
  font-family: var(--font_site);
  font-size: 15px;
  color: white;
  border-color: var(--font_color_yellow);
  background-color: var(--font_color_yellow);
  font-weight: bold;
  width: 460px;
  margin: auto;
}
.shop_product .exchange:visited {
  background-color: white;
}
.line_product_divider {
  margin-top: -20px;
}
/* electric guitar in column */

.selection_instruments div img {
  width: 100%;
  margin: 0px;
}
.selection_instruments div {
  margin: 5px;
}
.selection_instruments .box_for_text {
  width: 100%;
  height: 40px;
}
.selection_instruments .box_for_text a {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  font-family: var(--font_site);
  color: var(--font_color_black);
}
.selection_instruments div a:hover {
  color: #f8b803;
}
/* price-style */

.selection_instruments div .price {
  color: var(--font_color_grey);
  font-family: var(--font_site);
  font-size: 1.1em;
  font-weight: bold;
  margin: 0px;
}
.selection_instruments div button {
  width: 8em;
  height: 3em;
  background-color: var(--font_color_black);
  color: #fff;
  border: var(--font_color_black);
  border-radius: 5%;
}
@media (min-width: 640px) {
  .selection_instruments {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }
}
